* {
    box-sizing: border-box;
}

h1 {
    margin: 60px;
}

body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(54, 54, 54);
}

table {
    border: 10px solid rgb(170, 170, 170);
    margin: auto;
}

.board td {
    width: 50px;
    height: 50px;
    background-color: rgb(197, 109, 109);
    
}

td:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.board-container {
    background-color: rgb(224, 224, 224);  
}